// Theme CSS Variables
// These variables will be overridden by light/dark theme files

:root {
  // Colors
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;

  // Background colors
  --bg-primary: #ffffff;
  --bg-secondary: #f8f9fa;
  --bg-tertiary: #e9ecef;
  --bg-navbar: #dfe1e6;
  --active-nv-link: #a2aab1;//#6c757d;
  --input-activeBox: #344561;

  // Text colors
  --text-primary: #212529;
  --text-secondary: #6c757d;
  --text-muted: #868e96;
  --text-inverse: #ffffff;
  --text-light-Blue: #94A3B8;
  --text-light-Blue-placeholder: #94a3b86b;
  --inputLabelText: #898888;//#bbbbbb ;

  // Layer control (base layer selector bar)
  --layer-control-bg: #0f172ac7;
  --layer-control-inactive-text: #94a3b8;

  // Border colors
  --border-color: #dee2e6;
  --border-color-light: #e9ecef;
  --inputBorder: #475569;

  // Shadow
  --shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --shadow-md: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);

  // Card
  --card-bg: #ffffff;
  --card-border: #dee2e6;

  // Input
  --input-bg: #ffffff;
  --input-border: #ced4da;
  --input-focus-border: #80bdff;
  --input-focus-shadow: rgba(0, 123, 255, 0.25);
  --input-focus-shadow-light: rgba(0, 123, 255, 0.3);

  // Link
  --link-color: #007bff;
  --link-hover-color: #0056b3;
}

